---
layout: 2021/default
section: proposals
title: Propuestas para esLibre 2021
---

<div style="padding-top: 1em" class="media">
  <span class="media-left">
    <img src="/assets/logos/logo.png" alt="Logo esLibre" class="main-logo embed-responsive">
  </span>
  <div class="media-body">
    <h1 class="main-header display-4"><strong>Propuestas para es<span class="red">Libre</span> 2021</strong></h1>
  </div>
</div>
<hr class="my-4">

<p>
  En esta edición de <strong>es<span class="red">Libre</span></strong>, por ahora hemos aceptado las siguientes propuestas:
  <ul>
    <li><a href="charlas/">Charlas</a></li>
    <li><a href="talleres/">Talleres</a></li>
    <li><a href="articulos/">Sección de artículos</a></li>
    <li><a href="proyectos/">Tablón de proyectos</a></li>
    <li><a href="otras/">Otras actividades</a></li>
  </ul>
</p>

<p>
  Por otro lado, también hemos aceptado las siguientes <strong>salas propuestas por diferentes comunidades</strong> que elaborarán su propio programa (en general, haciendo su propia petición de propuestas):
  <ul id="list">
    {% for devroom in site.pages %}
    {% if devroom.path contains '2021/salas' and devroom.path contains '.md' and devroom.category == 'devrooms' %}
    {% unless devroom.path contains 'canceladas' %}
    <li><a href="/{{ devroom.path | remove_first: ".md" }}">{% if devroom.community %} {{ devroom.community }} - {% endif %}{{ devroom.title }}</a>
      {% endunless %}
      {% endif %}
      {% endfor %}
  </ul>

</p>
